<!DOCTYPE html>
<html ng-app="ngCardDemo">
  <head>
    <title>Bridge Planet</title>
    <link rel="stylesheet" href="playing-cards.css"/>
    <link rel="stylesheet" type="text/css" href="screen.css" media="screen" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bridgeplanet.js"></script>

    <!-- TODO: replace bower_components with lib-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" media="screen" />
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

  </head>
  <body ng-controller="DemoCtrl">
    <div class="container-fluid">

      <div id="north" class="row">
        <div class="col-lg-4">X</div>
        <div class="handContainer col-lg-4">
          <span ng-click="cardSelect(card)" ng-repeat="card in players.N | filter:{suit:'S'}  ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
         <span ng-click="cardSelect(card)" ng-repeat="card in players.N | filter:{suit:'H'}  ">
              <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
         </span>
         <span ng-click="cardSelect(card)" ng-repeat="card in players.N | filter:{suit:'C'} ">
              <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
          <span ng-click="cardSelect(card)" ng-repeat="card in players.N | filter:{suit:'D'} ">
              <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
        </div>
        <div class="col-lg-4"></div> 
      </div>

      <div class="row">
        <div class="col-lg-4">
          <span ng-click="cardSelect(card)" ng-repeat="card in players.W | filter:{suit:'S'} ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
          <span ng-click="cardSelect(card)" ng-repeat="card in players.W | filter:{suit:'H'} ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
          <span ng-click="cardSelect(card)" ng-repeat="card in players.W | filter:{suit:'C'}">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
          <span ng-click="cardSelect(card)" ng-repeat="card in players.W | filter:{suit:'D'}">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
        </div>
        <div class="col-lg-4">X</div>
        <div class="col-lg-4">
          <span ng-click="cardSelect(card)" ng-repeat="card in players.E  | filter:{suit:'S'}">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
          <span ng-click="cardSelect(card)" ng-repeat="card in players.E | filter:{suit:'H'} ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
          <span ng-click="cardSelect(card)" ng-repeat="card in players.E | filter:{suit:'C'} ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
          <span ng-click="cardSelect(card)" ng-repeat="card in players.E | filter:{suit:'D'} ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
          </span>
        </div>
      </div> 

    <div id="south" class="row">
      <div class="col-lg-4">X</div>
      <div class="cole-lg-4">
       <span  ng-click="cardSelect(card)" ng-repeat="card in players.S | filter:{suit:'S'}  ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
       </span>
       <span ng-click="cardSelect(card)" ng-repeat="card in players.S | filter:{suit:'H'} ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
       </span>
       <span ng-click="cardSelect(card)" ng-repeat="card in players.S | filter:{suit:'C'} ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
        </span>
        <span ng-click="cardSelect(card)" ng-repeat="card in players.S | filter:{suit:'D'} ">
            <playing-card suit="{{card.suit}}" rank="{{card.rank}}" />
        </span>
      </div>
      <div class="col-lg-4">X</div>
    </div>
  </div>
    <button ng-click="reset()">Reset Game</button>
  </div>
  </body>
</html>